<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tech.fuge.www.forgotheadfirstandroid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.NativeActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".base.BaseActivity" />
        <activity android:name=".activity.WineRecommendActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <!-- 没有这个DEFAULT category也是收不到的 -->
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
                <data android:mimeType="image/*" />
                <data android:host="http" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ChronographActivity" />
        <!-- android:configChanges="orientation|screenSize" -->
        <activity android:name=".activity.GridLayoutActivity" />
        <activity android:name=".activity.WidgetsActivity"></activity>
    </application>

</manifest>